#gridPane {
    -fx-background-image: url("/changeCredentials.jpg");
    -fx-background-size: 100.0% 100.0%;
}

.label {
    -fx-text-fill: #d8d8d8; 
}

.button {
    -fx-background-color: rgba(0.0, 0.0, 0.0, 0.623);
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2.0;
    -fx-background-radius: 0.0;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0.0 0.0 0.0 0.0, 0.0, 1.0, 2.0;
}

.button:hover {
    -fx-background-color: rgba(245.0, 240.0, 240.0, 0.692);
   -fx-font-size: 12.0pt;
   -fx-text-fill: #000000;
   -fx-font-weight: bold;
}

.button:pressed {
    -fx-background-color: rgb(112.0, 111.0, 104.0);
    -fx-font-size: 9.0pt;
    -fx-text-fill: #f1f1f1;
    -fx-font-weight: bold;
    
}

.button:focused, #loginBtn:focused, #textField:focused, #passwordField:focused {
    -fx-border-color:rgb(3.0, 202.0, 13.0);
    -fx-border-width: 1.0, 1.0;
    -fx-border-style: solid, segments(1.0, 1.0);
    -fx-border-radius: 0.0, 0.0;
    -fx-border-insets: 1.0 1.0 1.0 1.0, 0.0;
}

#textField, #passwordField {
    -fx-background-color: #1d1d1dcc;
    -fx-border-color: #e2e2e2;
    -fx-text-fill: #fdfdfd;
    -fx-font-size: 15.0pt;

}

#textField:hover, #passwordField:hover {
    -fx-background-color: #948d8d;
    -fx-text-fill: #222121;
    -fx-font-weight: bold;
    -fx-font-size: 15.0pt;

}

#loginBtn:hover {
    -fx-background-color: rgba(245.0, 240.0, 240.0, 0.692);
   -fx-font-size: 12.0pt;
   -fx-text-fill: #000000;
   -fx-font-weight: bold;
}

#loginBtn:pressed {
    -fx-background-color: rgba(6.0, 199.0, 54.0, 0.842);
    -fx-font-size: 9.0pt;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

#backBtn:pressed {
    -fx-background-color: rgba(199.0, 6.0, 6.0, 0.842);
    -fx-font-size: 9.0pt;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

#backBtn:focused {
    -fx-border-color:rgb(214.0, 29.0, 29.0);
    -fx-border-width: 1.0, 1.0;
    -fx-border-style: solid, segments(1.0, 1.0);
    -fx-border-radius: 0.0, 0.0;
    -fx-border-insets: 1.0 1.0 1.0 1.0, 0.0;
}

