.background {
    -fx-background-color: #1d1d1d;
}

#grid {
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2; 
}

.label {
    -fx-text-fill: #d8d8d8;
    -fx-text-alignment: center;
    -fx-font-size: 20pt;
    -fx-font-weight: bold

}

.button {
    -fx-background-color: rgba(0, 0, 0, 0.623);
    -fx-font-size: 15pt;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
   -fx-background-color: rgba(245, 240, 240, 0.692);
   -fx-font-size: 20pt;
   -fx-text-fill: #000000;
   -fx-font-weight: bold;
}

.button:pressed, .button:hover:pressed {
    -fx-background-color: rgba(255, 255, 255, 0.39);
    -fx-font-size: 15pt;
    -fx-text-fill: #0c0c0c;
    -fx-font-weight: bold;
    
}
